/*-- scss:mixins --*/
/* $grid-screen-inset-padding: 7em; */

/*-- scss:rules --*/

a {
  text-decoration: none;
}

a.text-start {
  font-weight: 600;
}

.fig-caption, figcaption {
  text-align: conter;
}

p {
  line-height: 2em;
}

.cell-output {
  border: 1px solid #BEBEBE;
  border-radius: 5px;
  margin-bottom: 1em;
}

div.cell-output > pre {
  margin-bottom: 0em;
}

div.sourceCode {
  background-color: #fff;
  border: 1px solid #BEBEBE;
}

div.sourceCode > pre.python {
  background-color: #f0fff0;
}

div.sourceCode > pre.r {
  background-color: #f0ffff
}
